<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Inchoo_MenuItem::activation" 
             title="Products Activation Codes" 
             module="Inchoo_MenuItem" 
             sortOrder="100" 
             action="menuitem/activation" 
             resource="Inchoo_MenuItem::activation" 
             parent="Magento_Catalog::catalog" />
        
        <add id="Inchoo_MenuItem::sold" 
             title="Sold Activation Codes" 
             module="Inchoo_MenuItem" 
             sortOrder="101" 
             action="menuitem/sold" 
             resource="Inchoo_MenuItem::sold" 
             parent="Magento_Catalog::catalog" />
        
       <add id="Inchoo_MenuItem::importcsv" 
             title="Import activation codes" 
             module="Inchoo_MenuItem" 
             sortOrder="102" 
             action="menuitem/importcsv" 
             resource="Inchoo_MenuItem::importcsv" 
             parent="Magento_Catalog::catalog" />
 
    </menu>
</config>