<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="MpesaPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Bit\MpesaPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Bit\MpesaPaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">MpesaPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">MpesaPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="MpesaPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Bit\MpesaPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with MpesaPaymentGatewayConfig -->
    <virtualType name="MpesaPaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">MpesaPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Bit\MpesaPaymentGateway\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">MpesaPaymentGatewayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="MpesaPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">MpesaPaymentGatewayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">MpesaPaymentGatewayCaptureCommand</item>
                <item name="void" xsi:type="string">MpesaPaymentGatewayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="MpesaPaymentGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">MpesaPaymentGatewayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">MpesaPaymentGatewayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="MpesaPaymentGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Bit\MpesaPaymentGateway\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Bit\MpesaPaymentGateway\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Bit\MpesaPaymentGateway\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">MpesaPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="MpesaPaymentGatewayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Bit\MpesaPaymentGateway\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">MpesaPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="MpesaPaymentGatewayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Bit\MpesaPaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Bit\MpesaPaymentGateway\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">MpesaPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="MpesaPaymentGatewayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Bit\MpesaPaymentGateway\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Bit\MpesaPaymentGateway\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="MpesaPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">MpesaPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MpesaPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">MpesaPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Bit\MpesaPaymentGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">MpesaPaymentGatewayConfig</argument>
        </arguments>
    </type>

</config>
